<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
  <div class="text-center">
    <h1>Dev Skills as of <%= time %></h1>
    <% if(error) { %>
      <h2><%= error %></h2>
    <% } %>
    <ul class="list-inline">
      <% devSkills.forEach(function(devSkill) { %>
        <li>
          <form 
            action="/devSkills/<%= devSkill._id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button class="btn btn-danger" type="submit">X</button>
          </form>
          <a href="/devSkills/<%= devSkill._id %>"><%= devSkill.text %></a>
          - 
          <%= devSkill.proficiency ? 'Proficient' : 'Novice' %>
        </li>
      <% }) %>
    </ul>
    <a href="/devSkills/new">Add Dev Skill</a>
  </div>
</body>
</html>